
#gameWrapper {
    padding: 0;
    position: absolute;
}

#raceWrapper {
    display: none;
}

#game {
    width: 600px;
    height: 500px;
    top: 100;
    border: solid 1px black;
    position: absolute;
    margin: 0;
    /* top: 130;
    left: 100; */
    overflow: hidden;
}
  

#raceMenu {
    display: none;
}


#createPlayer {
    display: none;
}

#createPlayer, #playerNameField input, #playerSubmitField input {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#playerInfo {
    padding: 30px;
}

.playerSpriteImage {
    width: 70px;
    position: relative;
    top: -25;
}

.playerSpriteLink {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
  border: solid 1px #aaa;
}

.playerSprite {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
}

#playerKits, #playerAppearances {
}

#gameWrapper {
    border: solid 1px black;
    position: absolute;
    top: 100;
    left: 100;
    width: 600px;
    padding: 10px;
    background-color: #ddd;
}
            
.raceButton, .raceTierName {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    vertical-align: text-top;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.raceButton {
    color: #000;
}


.raceTierName {
    background-color: #eee;
}

#startButton {
    position: absolute;
    z-index: 5000;
}

#startButtonDiv {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: black;
    opacity: 0.8;
    padding: 0.5em;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    left: 250px;
    top: 150px;
}


#doneButton {
    position: absolute;
    display: none;
    z-index: 5000;
}

#doneButtonDiv {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: black;
    opacity: 0.8;
    padding: 0.5em;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    left: 250px;
    top: 400px;
}




#bar {
    position: absolute;
    z-index: 5000;
}
  
#energyMeter, #energyMeterFill, #distanceMeter, #distanceMeterFill {
    border: 0;
    margin: 0;
    padding: 0;
    height: 25px;
}
  
  
#energyMeter {
    background-color: #550000;
    width: 600px;
    overflow: hidden;
}
  
#distanceMeter {
    width: 600px;
    overflow: hidden;
}

#energyMeterFill {
    background-color: #00aa00;
    width: 400px;
    display: inline-block;
    position: absolute;
}

#distanceInfo {
    position: absolute;
}

#distanceMeterFill {
    background-color: #aaa;
    width: 0px;
    display: inline-block;
    position: absolute;
}
  

#scoreboard {
    display: none;
    z-index: 5000;
    position: absolute;
    background-color: black;
    border: solid 2px white;
    color: white;
    width: 200px;
    left: 200px;
    top: 100px;
    max-height: 200;
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
    overflow-y: auto;
}

.score-user {
    font-weight: bolder;
    color: #afd;
}
